{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-7 col-sm-offset-1 col-md-offset-2">
        <h2>{% trans "Confirm E-mail Address" %}</h2>
        <hr class="colorgraph">
        <div class="row">
            {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                {% comment %}
                <p align="center">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                {% endcomment %}
                <p align="center">{% blocktrans with confirmation.email_address.email as email %}Please confirm your e-mail address: <a href="mailto:{{email}}">{{ email }}</a>{% endblocktrans %}</p>
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button type="submit" class="btn pull-right btn-default">{% trans 'Confirm' %}</button>
                </form>
            </div>
            {% else %}
                {% url 'account_email' as email_url %}
                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}