{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Recover Password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-7 col-sm-offset-1 col-md-offset-2">
        <h2>{% trans "Recover Password" %}</h2>
        <hr class="colorgraph">
        <div class="row">
            {% comment %}
            <div class="alert alert-info">
                <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
            </div>{% endcomment %}

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <p class="m-none text-semibold h6">{% trans "Please fill required fields" %}</p>
                    </div>
                    {% endif %}

                    <form method="POST" action="." class="password_change">
                        {% csrf_token %}
                        <div class="form-group mb-lg">
                            <label>{% trans "New Password" %} (*)</label>
                            <div class="input-group input-group-icon">
                                {{ form.password1 }}
                                {{ form.password1.errors }}
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>{% trans "New Password Confirmation" %} (*)</label>
                            <div class="input-group input-group-icon">
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 text-right">
                            </div>
                            <div class="col-sm-6 text-right">
                                <button type="submit" class="btn btn-primary hidden-xs">{% trans "Change Password" %}</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">{% trans "Change Password" %}</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}
