{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-7 col-sm-offset-1 col-md-offset-2">
        <h2>{% trans "Confirm E-mail Address" %}</h2>
        <hr class="colorgraph">
        <div class="row">
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> {% trans "Change Password" %}</h2>
                </div>
                <div class="panel-body">
                    <p class="m-none text-semibold h6">{% trans "Your password is now changed." %} <a href="{% url 'go_dashboard' %}">{% trans 'Sign In!' %}</a></p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}
