{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ form.errors }}
</div>
{% endif %}
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-9 col-md-7 col-sm-offset-1 col-md-offset-2">
        <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}" role="form">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <fieldset>
                <h2>{% trans "Password Reset" %}</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <span class="button-checkbox">
                    <div class="btn"></div>
                    {% comment %}<button type="button" class="btn" data-color="info" disabled>{% trans "Remember Me" %}</button>
                    <input type="checkbox" name="remember_me" id="remember_me" class="hidden">{% endcomment %}
                    <a href="{% url 'account_reset_password' %}" class="btn btn-link pull-right">{% trans "Forgot Password?" %}</a>
                </span>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans "Reset My Password" %}">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="{{ signup_url }}" class="btn btn-lg btn-primary btn-block">{% trans "Register" %}</a>
                    </div>
                </div>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}