{% extends 'bootstrap.html' %}

{% load account %}
{% load url from future %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    {% include "navbar.html" %}

    <div class="content container">
        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}

        <hr class="featurette-divider">

        <footer>
            <p class="pull-right"><a href="http://www.crovysoft.com/" target="_blank">CrovySoft 2015</a></p>
            <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>

    </div> <!-- /container -->

{% endblock %}