{% load i18n %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'go_home' %}">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if header_menu == 'home' %}active{% endif %}"><a href="{% url 'go_home' %}">Home</a></li>
                <li class="{% if header_menu == 'contact' %}active{% endif %}"><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'account_login' %}" class="">Sign in</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% else %}
                <li class="dropdown ">
                    <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Account <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li></li>
                        <li>
                            <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <span class="text-left"><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></span>
                                        {% if request.user.is_superuser %}
                                            <p class="text-left small">(Administrador)</p>
                                        {% else %}
                                            <p class="text-left small">(Usuario)</p>
                                        {% endif %}
                                        <p class="text-left small"><span class="glyphicon glyphicon-envelope"></span> {{ request.user.email }}</p>
                                        <p class="text-left">
                                        </p>
                                    </div>
                            </div>
                        </li>
                        {% comment %}
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                        <li><input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google"></li>
                        {% endcomment %}
                        <li class="">
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p>
                                            <a href="{% url 'go_profile' %}" class="btn btn-primary btn-block btn-sm">{% trans "Update Profile" %}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <a href="{% url 'account_logout' %}" class="btn btn-danger btn-block"><b class="glyphicon glyphicon-off"></b> {% trans 'Logout' %}</a>
                            </div>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>